.gradle
local.properties
**/.idea
*.idea
*.iml
*build
sample/gradle*
**/bin
**/.classpath
**/.project
**/.settings
website/tpl**
website/_site
**/src/main/gen
temp-assetfilegenerator-clone
sample/src/*/assets
